@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply box-border m-0 p-0;
    }
    html {
        @apply text-[62.5%];
    }
    body {
        @apply text-[1.4rem] leading-[1.5];
    }
}

@layer components {
    .bg-active-path {
        background-image: linear-gradient(to right, #259dba 0%, #2574ab 100%);
    }

    .dotThreeHiddenText {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
}

@layer components {
    .rotateZ-90deg {
        transform: rotateZ(90deg);
    }

    .box-shadow-admin-path {
        box-shadow: 0px 0px 6px -2px #827a7a;
    }

    .box-shadow-admin-notice {
        box-shadow: 0px 0px 8px -2px #a39595;
    }

    .box-shadow-alert {
        box-shadow: 0px 0px 8px 2px #f1e5e5;
    }

    .box-shadow-admin-card-add {
        box-shadow: 0px 0px 6px 0px #9947e8;
    }

    .scrollbar-admin-sidebar::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        display: block;
    }

    .scrollbar-admin-sidebar::-webkit-scrollbar-track {
        background: #fff;
    }

    .scrollbar-admin-sidebar::-webkit-scrollbar-thumb {
        background: #dfdfdf;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .scrollbar-admin-sidebar-none::-webkit-scrollbar {
        display: none;
    }
}

:root {
    --height-header: 64px;
    --width-sidebar: 220px;
    --min-h-page: calc(100vh - var(--height-header));

    --admin-height-header: 60px;
    --admin-width-sidebar: 220px;

    --bg-color-header: #262b36;
    --bg-color-page: #d8dce3;
    --bg-color-logo: #20242d;

    --color-logo: #259dba;
    --color-logo-hover: #3ab9d8;
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #9fa8bc;
    --color-text-sidebar: #505b72;
    --color-text-header: #778395;
}
