@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply box-border m-0 p-0;
    }
    html {
        @apply text-[62.5%];
    }
    body {
        @apply text-[1.4rem] leading-[1.5];
    }
}

@layer components {
    .bg-active-path {
        background-image: linear-gradient(to right, #259dba 0%, #2574ab 100%);
    }

    .dotThreeHiddenText {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
}

:root {
    --height-header: 64px;
    --width-sidebar: 220px;
    --min-h-page: calc(100vh - var(--height-header));

    --bg-color-header: #262b36;
    --bg-color-page: #d8dce3;
    --bg-color-logo: #20242d;

    --color-logo: #259dba;
    --color-logo-hover: #3ab9d8;
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #9fa8bc;
    --color-text-sidebar: #505b72;
    --color-text-header: #778395;
}
